.myStyle {
  background-color: rgb(54, 228, 109);
  padding: 16px;
}
.yellow{
  background-color: yellow;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.orange {
  background-color: orange;
}
.pink {
  background-color: pink;
}