*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* font-size: 20px; */
    font-family: 'Montserrat', sans-serif;
}
img{
    max-width: 100%;
}
/* Header */
.header-wrapper{
    background-color: #000;
    color: #fff;
    font-weight: 200;
    font-size: 0.95em;
    width: 1280px;
}

.header-wrapper ul{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    list-style: none;
}

.internal-wrapper{
    width: 980px;
    padding: 4px 0;
    margin: 0 auto;
}
.header-wrapper .header-link-wrapper ul li a{
    text-decoration: none;
    color: #fff;
}
.header-wrapper .header-link-wrapper ul li{
    display: inline-block;
    padding: 5px 0 8px;
    height: 25px;
    opacity: 0.8;
}

.header-wrapper .header-link-wrapper ul li:hover{
    opacity: 1;
}
.logo-link, .search-link, .cart-link{
    width: 18px;
    display: block;
}
.header-wrapper, .header-link-wrapper ul li.logo-link{
    padding: 2px 0 10px;
}
.header-wrapper, .header-link-wrapper ul li.search-link{
    padding: 2px 0 10px;
}
.header-wrapper, .header-link-wrapper ul li.cart-link{
    padding: 2px 0 10px;
}
/* Header */

/* Main */
.main-highlight-wrapper{
    background-color: #fafafa;
    text-align: center;
    width: 1280px;
}
.links-wrapper ul{
    list-style: none;
}

.model{
    font-size: .89em;
    padding-top: 30px;
}
.product-title{
    font-weight: 700;
    font-size: 56px;
}
.brief-description{
    font-size: 28px;
}
.links-wrapper{
    padding: 15px 0;
}
.links-wrapper ul li{
    display: inline-block;
    padding-right: 20px;
}
.links-wrapper ul li a{
    color: #06c;
    text-decoration: none;
}
.links-wrapper ul li a:hover{
    color: #000;
}

.links-wrapper ul li a::after{
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f105";
    padding-left: 10px;
}


/* Main */



/* Section 2 */
.second-hightlight-wrapper{
    background-image: url("../images/home/iphone11-pro-bg.jpg");
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 45px 10px;
    color: #fff;
    width: 1280px;

}
.title-wrapper{
    font-weight: 600;
    font-size: 56px;
}
.description-wrapper{
    font-size: 20px;
    padding: 1px 0;
}
.price-wrapper{
    color: #86868b;
    font-size: 1em;
}


/* Section 3 */

.third-highlight-wrapper{
    background-image: url("../images/home/iphone11-bg.jpg");
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 65px 20px;
    text-align: center;
    width: 1280px;
}


/* Section 4 */
.fourth-hightlight-wrapper{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #fff;
    width: 1280px;
}
.left-side-wrapper{
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 48.5%;
    margin: 1% 0.5% 0% 1%;
    padding-top: 1px;
    padding-bottom: 60px;
}
/* .left-side-wrapper .logo-wrapper{
    padding-top: -80px;
} */
.fourth-hightlight-wrapper .left-side-wrapper{
    background-image: url("../images/home/watch-series-5.jpg");
    
}


.right-side-wrpper{
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 48.5%;
    margin: 1% 1% 0% 0.5%;
    padding-top: 40px;
}

.fourth-hightlight-wrapper .right-side-wrpper{
    background-image: url("../images/home/apple-card.jpg");
}
.description-wrapper{
    max-width: 430px;
    margin: 0 auto;
    padding: 10px;
    
}


/* Section 5 */
.fifth-hightlight-wrapper{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #fff;
    width: 1280px;

}
.fifth-hightlight-wrapper .left-side-wrapper{
    background-image: url("../images/home/apple-tv-background.jpg");
}
.fifth-hightlight-wrapper .right-side-wrapper{
    background-image: url("../images/home/air-pods.jpg");
    color: #fff;
    background-size: initial;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 580px;
    text-align: center;
    width: 48.5%;
    margin: 1% 1% 0% 0.5%;
    padding-top: 40px;
} 
.left-side-wrapper .top-logo-wrapper .logo-wrapper{
    padding-top: 40px;
}
.logo-wrapper{
    font-size: 40px;
    font-weight: bold;
}
.tvshow-logo-wrapper{
    padding: 180px 0 200px;
}
.watch-more-wrapper{
    margin: -30px;
}
.watch-more-wrapper a{
    text-decoration: none;
    font-size: 0.85em;
    color: #551a8b;
    font-size: 18px;
}
.watch-more-wrapper a::after{
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f144";
    padding-left: 15px;
}

/* Section 5 */
.sixth-hightlight-wrapper{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #fff;
    width: 1280px;
}
.sixth-hightlight-wrapper .left-side-wrapper{
    background-image: url(../images/home/macbook-pro.jpg);
    background-size: initial;
    background-color: #fafafa;
    background-position: bottom;
}
.sixth-hightlight-wrapper .right-side-wrapper{
    background-image: url(../images/home/new-ipad.jpg);
    background-size: initial;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 580px;
    text-align: center;
    width: 48.5%;
    margin: 1% 1% 0% 0.5%;
    padding-top: 40px;
}

.sixth-hightlight-wrapper .left-side-wrapper .model{
	font-size: 1.2em;
    padding-top: 40px;

}

.product-title-small{
    font-weight: 700;
    font-size: 45px;
}






/* Footer */
.footer-wrapper{
    background-color: #f5f5f7;
    color: #1d1d1f;
    font-size: .85em;
    width: 1280px;
}


.footer-internal{
    width: 980px;
    padding: 0;
    margin: 0 auto;
}
.upper-text-container{
    border-bottom: 1px solid #d2d2d7;
    color: #86868b;
    padding: 17px 0 20px;
}
.upper-text-container a{
    text-decoration: none;
    color: #515154;
}
.upper-text-container a:hover{
    text-decoration: underline;
}
.footer-link-wrapper{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 20px;
}





.footer-wrapper ul{
    list-style: none;
    padding-bottom: 20px;
}
.footer-wrapper ul li{
    padding: 5px 0;
    font-size: 0.9em;
}
.footer-wrapper a{
    color: #515151;
    text-decoration: none;
}
.footer-wrapper a:hover{
    text-decoration: underline;
}
.footer-link-wrapper h3{
    font-size: 12px;
    font-weight: 600;
}


.my-apple-wrapper{
    border-bottom: 1px solid #d2d2d7;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.my-apple-wrapper a{
    text-decoration: underline;
    color: #551a8b;
}
.copyright-wrapper {
	display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    /* padding: 10px 0 20px; */
}
.footer-links-term ul li {
  display: inline-block;
  padding: 0 5px;
  border-right: 1px solid #ccc;
}
.footer-links-term ul li:last-child {
	border-right: 0px;
}
.footer-links-terms ul li a {
	text-decoration: none;
	color: #515154;
}
.footer-links-terms ul li a:hover {
	text-decoration: underline;
}
.footer-links-terms ul li a {
	text-decoration: none;
	color: #515154;
}
.footer-links-terms ul li a:hover {
	text-decoration: underline;
}
.footer-country{
    display: inline-block;
}
.flag-wrapper{
    display: inline-block;
    vertical-align: middle;
}
.footer-country-name{
    display: inline-block;
    vertical-align: top;
}

.footer-bottum{
    display: flex;
    justify-content: space-between;
    padding: 10px 0 20px;
}