
.single_food {
    width: 100%;
    max-width: 370px;
    margin: 18px auto;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.5s;
    height: 500px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.single_food:hover {
    transform: scale(1.007);
    cursor: pointer;
}

.single_food img {
    width: 100%;
    height: auto;
}

.title_price {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 20px;
}

.title_price>h3 {
    font-size: 16px;
}

.title_price>p {
    background-color: #ff9500;
    padding: 3px 7px;
    color: white;
    border-radius: 5px;
    transition: all 0.5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.food-desc {
    padding: 0 20px;
    font-size: 15px;
    font-weight: 300;
    
}

.link{
    background-color: #ff9500;
    color: #fff;
    border: none;
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
}
/* Responsive design */
@media (max-width: 1200px) {
    .foods_container {
        max-width: 960px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .foods_container {
        max-width: 440px;
        grid-template-columns: 1fr;
    }

    .single_food {
        max-width: 100%;
        height: auto;
        padding-bottom: 36px;
    }
}